@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'AcuminProCondensedBold';
  src: url('/path-to-your-font/AcuminProCondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
